<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transcendence.universe">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 指纹权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:name=".service.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/universe_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".abp.main.act.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 启动另一套方案 -->
        <activity
            android:name=".abp.main.act.WelcomeAct"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
             />
        <activity
            android:name=".abp.main.act.StartAct"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"/>
        <!-- 主页 暂未使用的 -->
        <activity
            android:name=".abp.main.act.MainAct"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".abp.index.act.IndexAct"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"/>

        <!-- index -->
        <activity
            android:name=".abp.index.act.AnimIndexAct" />
        <activity
            android:name=".abp.index.act.AnimSimpleIndexAct"/>
        <activity
            android:name=".abp.index.act.BaseIndexAct" />

        <activity
            android:name=".abp.index.act.ClassicIndexAct"/>
        <activity
            android:name=".abp.index.act.EditIndexAct" />
        <activity
            android:name=".abp.index.act.UIIndexAct"/>
        <activity
            android:name=".abp.index.act.HardWareIndexAct"/>
        <activity
            android:name=".abp.index.act.WidgetIndexAct"/>
        <activity
            android:name=".abp.index.act.TextIndexAct"/>
        <activity
            android:name=".abp.index.act.ListIndexAct"/>
        <activity
            android:name=".abp.index.act.LayoutIndexAct" />
        <activity
            android:name=".abp.index.act.RelativeLayoutIndexAct"/>
        <activity
            android:name=".abp.index.act.RecyclerIndexAct"/>
        <activity
            android:name=".abp.index.act.CustomIndexAct"/>
        <activity
            android:name=".abp.index.act.CameraIndexAct"/>
        <activity
            android:name=".abp.index.act.LuckyIndexAct"/>

        <!-- end index -->

        <!-- base  -->
        <activity
            android:name=".abp.base.act.LifeCycleActivity"
            />
                <!-- Android信息 -->
        <activity
            android:name=".abp.base.act.AndroidInfoActivity"
             />
                <!-- 电话工具信息 -->
        <activity
            android:name=".abp.base.act.TelInfoActivity"
            />

        <activity
            android:name=".abp.base.battery.act.BatteryActivity"
             />
        <!-- end base -->



        <!-- Textview -->
        <activity
            android:name=".abp.ui.widget.textview.act.RippleEffectAct" />
        <activity
            android:name=".abp.ui.widget.textview.httptextview.act.HttpTextAct" />
        <activity
            android:name=".abp.ui.widget.textview.act.CareerShowMoreAct" />

        <!-- end Text -->

        <!-- Edit -->
        <activity
            android:name=".abp.ui.widget.edittext.act.InputEditAct"
            android:windowSoftInputMode="adjustPan"/>
        <!-- end Edit -->

        <!-- List -->
        <activity
            android:name=".abp.ui.widget.listview.act.MulListMainAct"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".abp.ui.widget.listview.act.MultAct"
            android:windowSoftInputMode="adjustPan"/>
        <!-- end List -->

        <!-- relative -->
        <activity
            android:name=".abp.ui.layout.relative.act.SearchBarAct"/>
        <activity
            android:name=".abp.ui.layout.relative.act.LuckyPanActivity"/>
        <!-- end relative -->

        <!--  recycler -->
        <activity
            android:name=".abp.ui.widget.recycler.act.FlyRefreshMainAct"/>
        <!-- end recycler -->


        <!--  custom view -->
        <activity
            android:name=".abp.ui.customview.arcLayout.act.ArcLayoutMainAct"
            />
        <activity
            android:name=".abp.ui.customview.arcLayout.act.DemoActivity"
            />
        <activity
            android:name=".abp.ui.customview.arcLayout.act.DemoFreeAngleActivity"
            />
        <activity
            android:name=".abp.ui.customview.arcLayout.act.DemoLikeTumblrActivity"
            />
        <activity
            android:name=".abp.ui.customview.arcLayout.act.DemoLikePathActivity"
            />
        <activity
            android:name=".abp.ui.customview.flowlayout.act.SubTagActivity"
            />
        <!-- end custom view -->

        <!--  hareware camera -->
        <activity
            android:name=".abp.hardware.camera.permiss.act.CameraPermissAct"
            />
        <!--  end hareware camera -->

        <!-- classic -->
        <activity
            android:name=".abp.classic.hongyang.act.HongyangMainAct"
            />
        <activity
            android:name=".abp.classic.weiganloopview.act.WeiganMainAct"
           />
        <activity
            android:name=".abp.classic.weiganloopview.act.DialogActivity"
             />
        <activity
            android:name=".abp.classic.weiganloopview.act.ScrollViewActivity"
             />
        <activity
            android:name=".abp.classic.fringerprint.act.FingerprintMainActivity" />
        <!-- end classic -->


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.transcendence.universe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data android:value="5ab31ca8a40fa350d6000dff" android:name="UMENG_APPKEY"/>
        <meta-data android:value="umeng" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>