<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transcendence.universe">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".abp.index.act.IndexAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".abp.main.act.StartAct"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".abp.main.act.MainAct"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />

        <!-- index -->
        <activity
            android:name=".abp.index.act.UIIndexAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".abp.index.act.WidgetIndexAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".abp.index.act.TextIndexAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".abp.index.act.EditIndexAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".abp.index.act.LayoutIndexAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".abp.index.act.RelativeLayoutIndexAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".abp.index.act.ClassicIndexAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />

        <!-- end index -->


        <!-- Textview -->
        <activity
            android:name=".abp.ui.widget.textview.act.RippleEffectAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <!-- end Text -->

        <!-- Edit -->

        <activity
            android:name=".abp.ui.widget.edittext.act.InputEditAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan"/>

        <!-- end Edit -->




        <!-- Relative -->
        <activity
            android:name=".abp.ui.Layout.Relative.act.SearchBarAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <!-- end Relative -->

        <!-- classic -->
        <activity
            android:name=".abp.classic.hongyang.act.HongyangMainAct"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".abp.classic.yanzhengjie.act.YanZhengJieMainAct"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".abp.classic.yanzhengjie.menu.MenuHorizontalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".abp.classic.weiganloopview.act.WeiganMainAct"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".abp.classic.weiganloopview.act.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".abp.classic.weiganloopview.act.ScrollViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!-- end classic -->


    </application>

</manifest>